<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [2]:
print("Olá mundo!")

Olá mundo!

Crie uma célua de texto e adicione uma imagem.

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [9]:
# (A) 
Ticket_médio_19 = 320.52
qtd_vendas_19 = 3

(A) = Ticket_médio_19*qtd_vendas
print((A))

961.56

In [21]:
# (B)
Total_de_vendas_20 = 834.47
Ticket_médio_20 = 119.21

(B) = int( Total_de_vendas_20/Ticket_médio_20)
print ((B))

7

In [14]:
# (C)
valor_total_vendas_23 = 15378.12
qtd_vendas_23 = 5

(C) = valor_total_vendas_23/qtd_vendas_23
print((C))

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [41]:
from IPython.utils import text
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

print(cancao.upper())
print (cancao.find("Roda"))
print (cancao.replace("mundo","terra"))

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
0
Roda terra, roda gigante, roda moinho, roda pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [31]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

Selic = (noticia [11:18])
print (Selic)

Ano = (noticia [62:63])
print (Ano)

 2,75%
6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [42]:
a = False
b = True

x = not a & b

Valor_Variavel_X = not a & b
print (Valor_Variavel_X)

True